body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f1f5f9;
}

header {
    text-align: center;
    padding: 30px;
}

.photo {
    width: 80px;          
    border-radius: 50%;
    box-shadow: 0 0 10px gray;
}



nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #0f172a;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 30px;
    margin: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #94a3b8;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1e293b;
    color: white;
}

.btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

footer {
    background-color: #020617;
    color: white;
    text-align: center;
    padding: 20px;
}

#copyright {
    color: #38bdf8;
}
.qrcode {
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
